<html lang="en">
<head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/index-style.css">
</head>
<body>
<div class="navbar">
    <h1><%= title%></h1>
</div>
    <div class="body-container">
        <div class="message-board">
            <% messages.forEach(message => {%>
              <div class="messages">
                <h4><%= message.username%></h4>
                  <p class="message-text"><%= message.message%></p>
                  <div class="date-more">
                    <p><%= message.added.toLocaleString('en-AU', {
                            year: 'numeric', month: 'numeric', day: 'numeric'
                        })%></p>
                    <a href="/message/<%=message.id%>" class="more"><p>...</p></a>
                  </div>
              </div>
            <%})%>
        </div>
        <a href="/new" class="new-btn">+</a>
    </div>
</body>
</html>